@model AsiloPatitos.Domain.Entities.Reserva

@{
    ViewData["Title"] = "Detalle de Reserva";
}

<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="card-form">

                <h2 class="form-title mb-4 text-center">Detalle de la Reserva</h2>

                <dl class="row mb-4">

                    <dt class="col-sm-4 fw-bold">Paciente</dt>
                    <dd class="col-sm-8">@Model.Paciente?.Nombre</dd>

                    <dt class="col-sm-4 fw-bold">Habitación</dt>
                    <dd class="col-sm-8">@Model.Habitacion?.Numero</dd>

                    <dt class="col-sm-4 fw-bold">Fecha Ingreso</dt>
                    <dd class="col-sm-8">@Model.FechaIngreso.ToShortDateString()</dd>

                    <dt class="col-sm-4 fw-bold">Fecha Salida</dt>
                    <dd class="col-sm-8">@Model.FechaSalida.ToShortDateString()</dd>

                    <dt class="col-sm-4 fw-bold">Tiempo de Estancia</dt>
                    <dd class="col-sm-8">@Model.TiempoEstancia</dd>


                </dl>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn-back">Volver</a>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-form-submit">Editar</a>
                </div>

            </div>

        </div>
    </div>
</section>
