@model IEnumerable<AsiloPatitos.Domain.Entities.Paciente>

@{
    ViewData["Title"] = "Listado de Pacientes";
}

<section class="container py-5">

    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="card-page">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="page-title">Listado de Pacientes</h2>

                    <a asp-action="Create" class="btn-create">
                        + Agregar Paciente
                    </a>
                </div>

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }

                <div class="table-responsive">
                    <table class="table table-custom align-middle">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Fecha de Ingreso</th>
                                <th>Nivel Asistencia</th>
                                <th>Habitación</th>
                                <th class="text-end">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr>
                                    <td>@p.Nombre</td>
                                    <td>@p.Cedula</td>
                                    <td>@p.FechaIngreso.ToShortDateString()</td>
                                    <td>@p.NivelAsistencia</td>
                                    <td>@(p.HabitacionId != null ? p.HabitacionId: "Sin asignar")</td>

                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-id="@p.Id" class="btn-action edit">Editar</a>
                                        <a asp-action="Details" asp-route-id="@p.Id" class="btn-action details">Detalles</a>
                                        <a asp-action="Delete" asp-route-id="@p.Id" class="btn-action delete">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</section>
