@model AsiloPatitos.Domain.Entities.PacienteMedicamento
@{
ViewData["Title"] = "Detalles de Medicamento del Paciente";
}


<h2>Detalles del Medicamento Asignado</h2>


<div class="card p-3">
<dl class="row">
<dt class="col-sm-3">Paciente</dt>
<dd class="col-sm-9">@Model.Paciente?.Nombre</dd>


<dt class="col-sm-3">Medicamento</dt>
<dd class="col-sm-9">@Model.Medicamento?.Nombre</dd>


<dt class="col-sm-3">Fecha Inicio</dt>
<dd class="col-sm-9">@Model.FechaInicio.ToShortDateString()</dd>


<dt class="col-sm-3">Fecha Fin</dt>
<dd class="col-sm-9">@Model.FechaFin.ToShortDateString()</dd>


<dt class="col-sm-3">Indicaciones</dt>
<dd class="col-sm-9">@Model.Indicaciones</dd>
</dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>

